﻿@model Otus.Teaching.PromoCodeFactor.MVC.Models.PreferenceViewModel

@{
    ViewData["Title"] = "Все предпочтения";
    ViewData["ActionTitle"] = "Удаление";
}


<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Предпочтение: @Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-primary"/> <br/><br/>
        <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
    </form>
</div>
