﻿@model Otus.Teaching.PromoCodeFactor.MVC.Models.PromocodeViewModel

@{
    ViewData["Title"] = "Все промокоды";
    ViewData["ActionTitle"] = "Удаление";
}

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Промокод: @Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartnerName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-primary"/> <br/><br/>
        <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
    </form>
</div>
