﻿@model IEnumerable<Otus.Teaching.PromoCodeFactor.MVC.Models.PromocodeViewModel>

@{
    ViewData["Title"] = "Все промокоды";
    ViewData["ActionTitle"] = "Список промокодов";
}

<p>
    <a class="btn btn-primary  btn-sm" asp-action="Create">Создать</a>
</p>
<table class="table table-striped table-sm .thead-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartnerName)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerName)
            </td>
            <td>
                <a class="btn btn-outline-primary  btn-sm" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Посмотреть</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
